.footer {
    background-color: $footer-color;
    // width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &__container {
        color:$typo-color;
        padding: 5%;
        flex-direction: row;
        text-align:center;
        
    
    }


}


