.modul2 {
    // width: auto;
    padding: 5%;
    display: flex;

    &__parraf {
            justify-content: center;
        

        &__one {
            font-size: 13px;
            color: $iconyborder-color

        }

        &__two {
            color: black;
            font-weight: 700;
            font-size: 23px;
            margin-top: 1%;
            margin-bottom: 1%;
        }

        &__three {
            font-size: 16px;
            margin-bottom: 15%;
            color:$footer-color;
        }

        &__button {
            align-items: flex-start;
            color: $iconyborder-color;
            background-color: $typo-color;
            border-color: $iconyborder-color;
            border: 2px solid;
            border-radius: 20px;
            width: 40%;
            padding: 3%;
            font-weight: 700;
            
        }

    }
 
}