.modul1 {
    height: 100vh;
    // width: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../images/cover.jpeg);    
    background-repeat: no-repeat;
    background-size: cover;

    &__box {
        flex-direction: row;
        padding: 10%;
        text-align: center;

      
        
        &__text {
            font-size: 50px;
            // padding: 5%;
            font-weight: 700;
            color: $typo-color;
            
        }
        
        &__parraf {
            // padding-bottom: 20%;
            font-size: 20px;
            color: $typo-color;

        }

        &__image2 {
            width: 40px;
            border-radius: 50%;
            background-color: $typo-color;


        }
    }

}

