.modul3 {
    background-color: $modul3-color ;
    // width: auto;
    display: flex;

    &__parraf1 {
        color: $footer-color;

    }

    &__parraf2 {
    font-weight: 700;
    }

    &__section__image {
        font-weight: 700;
        width: 200px    

        &__1 {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 4px 8px;
        }

        &__2 {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 4px 8px;
        } 

        &__3 {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 4px 8px;
        }

    }

    &__button__text {
        align-items: center;
        color: $typo-color;
        background-color: $iconyborder-color;
        border: none;
        border-radius: 20px;
        width: 10%;
        padding: 3%;
        font-weight: 700;

    }

    
}

// .modul3__section {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr;
//     grid-template-rows: 1fr 1fr 1fr;
//     gap: 20px

// }