
    <footer class="footer">
    <div class="footer__container">
        <ul class="footer__container__list" >
            <li>ZAPATILLAS</li>
            <li>ROPA</li>
            <li>NIÑO/A</li>
            <li>DESTACADOS</li>
            <li>TIPS</li>
        </ul>

        <ul class="footer__container__list">
            <li>TWITTER</li>
            <li>INSTAGRAM</li>
            <li>YOUTUBE</li>
        </ul>

        <p>&copy;2023</p>
        <p>we run</p>
        <button class="footer__button">
            <img class="footer__button__img" src="./images/ico-arrow.svg" alt="icon sign up">
        </button>
    </div>
</footer>