<main class="modul3">
    <section>
        <p class="modul3__parraf1">¡Prepáralos con tus marcas favoritas!</p>
        <p class="modul3__parraf2">VUELTA AL COLE</p>
    </section>
    
    <div class="modul3__section__image">
        <img class="modul3__section__image__1" src="./images/ellipse-2.png" alt="brown hair girl with black bagpack">
        <p>Mochilas escolares</p>
    </div>

    <div class="modul3__section__image">
        <img class="modul3__section__image__2" src="./images/ellipse-3.png" alt="boy throwing pens to the screen with a pencilcase">
        <p>Estuches</p>
    </div>

    <div class="modul3__section__image" >
        <img class="modul3__section__image__3" src="./images/ellipse-1.png" alt="blonde girl with nike bagpack">
        <p>Bolsas de deporte</p>
    </div>
    
    <button class="modul3__button__text" >Empezar ahora</button>

        

</main>